<footer class="footer-area two pt-100 pb-70">
  <div class="footer-shape">
    <img src="assets/images/shape8.png" alt="Shape" />
    <img src="assets/images/shape9.png" alt="Shape" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-logo">
            <a class="logo" href="index.html">
              <img src="assets/images/logo-shop.png" width="200" height="100" alt="Logo" />
            </a>
            <ul>
              <li>
                <i class="bi bi-1-circle"></i>
                <a>VPGD: 133 Lý Thường Kiệt, Phường Đông Lương, Thành phố
                  Đông Hà</a
                >
              </li>
              <li>
                <i class="flaticon-phone-call"></i>
                <a>Hotline: 086.751.5555 - 1800.6005</a>
              </li>
              <li>
                <i class="flaticon-email"></i>
                <a><span
                    class="__cf_email__"
                    data-cfemail="d0b8b5bcbcbf90b5b3bfa0feb3bfbd"
                    >contact@tccstore.vn</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-services">
            <h3>Dịch vụ khách hàng</h3>
            <ul>
              <li>
                <a>Chính sách hoàn trả</a>
              </li>
              <li>
                <a>Câu hỏi thường gặp</a>
              </li>
              <li>
                <a>Theo dõi đơn hàng</a>
              </li>
              <li>
                <a>Chính sách bảo mật</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-links">
            <h3>Tổng đài hỗ trợ (Miễn phí gọi)</h3>
            <div class="row">
              <div class="col-6 col-sm-8 col-lg-8">
                <ul>
                  <li>
                    <a>Gọi mua: 1800.1061 (7:30 - 22:00)</a>
                  </li>
                  <li>
                    <a>Kỹ thuật: 1800.1764 (7:30 - 22:00)</a>
                  </li>
                  <li>
                    <a>Khiếu nại: 1800.1063 (8:00 - 21:30)</a>
                  </li>
                  <li>
                    <a>Bảo hành: 1800.1065 (8:00 - 21:00)</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-6 col-lg-6">
        <div class="payment-cards">
          <ul>
            <li>
              <a href="#" target="_blank">
                <img src="assets/images/payment1.png" alt="Payment" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="assets/images/payment2.png" alt="Payment" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="assets/images/payment3.png" alt="Payment" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="assets/images/payment4.png" alt="Payment" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="social-links">
          <ul>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area two">
  <div class="container">
    <div class="copyright-item">
      <p>
        Bản quyền ©2022 thiết kế và phát triển bởi TCC
      </p>
    </div>
  </div>
</div>



<div class="go-top">
  <i class="bx bxs-up-arrow-circle"></i>
  <i class="bx bxs-up-arrow-circle"></i>
</div>
