<div class="page-title-area">
  <div class="d-table">
  <div class="d-table-cell">
  <div class="container">
  <div class="title-content">
  <h2>Login</h2>
  <ul>
  <li>
  <a href="index.html">Trang chủ</a>
  </li>
  <li>
  <span>Đăng nhập</span>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="title-img">
  <img src="assets/images/page-title1.jpg" alt="About">
  <img src="assets/images/shape16.png" alt="Shape">
  <img src="assets/images/shape17.png" alt="Shape">
  <img src="assets/images/shape18.png" alt="Shape">
  </div>
  </div>


  <div class="user-area ptb-100">
  <div class="container">
  <div class="user-item">
  <form>
  <h2>Đăng nhập</h2>
  <div class="form-group">
  <input type="email" class="form-control" placeholder="Your Email:">
  </div>
  <div class="form-group">
  <input type="password" class="form-control" placeholder="Password:">
  </div>
  <button type="submit" class="btn common-btn">
  Đăng nhập
  <img src="assets/images/shape1.png" alt="Shape">
  <img src="assets/images/shape2.png" alt="Shape">
  </button>
  <h4>hoặc</h4>
  <ul>
  <li>
  <a href="#">
  <i class='bx bxl-facebook'></i>
  đăng nhập với Facebook
  </a>
  </li>
  <li>
  <a href="#">
  <i class='bx bxl-google'></i>
  đăng nhập với Google
  </a>
  </li>
  </ul>
  <h5>Không có tài khoản? <a href="register.html">Đăng ký</a></h5>
  </form>
  </div>
  </div>
  </div>
