
<div class="page-title-area">
  <div class="d-table">
  <div class="d-table-cell">
  <div class="container">
  <div class="title-content">
  <h2>Đăng ký</h2>
  <ul>
  <li>
  <a href="index.html">Trang chủ</a>
  </li>
  <li>
  <span>Đăng ký</span>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="title-img">
  <img src="assets/images/page-title1.jpg" alt="About">
  <img src="assets/images/shape16.png" alt="Shape">
  <img src="assets/images/shape17.png" alt="Shape">
  <img src="assets/images/shape18.png" alt="Shape">
  </div>
  </div>


  <div class="user-area ptb-100">
  <div class="container">
  <div class="user-item">
  <form>
  <h2>Đăng ký</h2>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Your Name:">
  </div>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="User Name:">
  </div>
  <div class="form-group">
  <input type="email" class="form-control" placeholder="Your Email:">
  </div>
  <div class="form-group">
  <input type="password" class="form-control" placeholder="Password:">
  </div>
  <div class="form-group">
  <input type="password" class="form-control" placeholder="Confirm Password:">
  </div>
  <div class="form-group">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
  <label class="form-check-label" for="flexCheckDefault4">
  Tôi chấp nhận tất cả <a href="terms-conditions.html">điều khoản và điều kiện</a>
  </label>
  </div>
  </div>
  <button type="submit" class="btn common-btn">
  Đăng ký
  <img src="assets/images/shape1.png" alt="Shape">
  <img src="assets/images/shape2.png" alt="Shape">
  </button>
  <h4>Or</h4>
  <ul>
  <li>
  <a href="#">
  <i class='bx bxl-facebook'></i>
  Đăng ký với Facebook
  </a>
  </li>
  <li>
  <a href="#">
  <i class='bx bxl-google'></i>
  Đăng ký với Google
  </a>
   </li>
  </ul>
  <h5>Bạn có sẵn sàng để tạo một tài khoản? <a href="login.html">Đăng nhập</a></h5>
  </form>
  </div>
  </div>
  </div>
